<div class="row">
  <div class="small-12 colums text-center">
    <h1>Welcome to Hangman!</h1>
  </div>
</div>

<div class="row">
  <div class="small-12 medium-6 columns">
    <%= link_to new_games_path, :class => 'button expand' do %>
        <i class="fa fa-play"> New Game</i>
    <% end %>
  </div>

  <% if current_game.present? && !current_game.finished? %>
      <div class="small-12 medium-6 columns">
        <%= link_to games_path :class => 'button expand' do %>
            <i class="fa fa-refresh"> Continue Game </i>
        <% end %>
      </div>
  <% end %>
</div>