<div class="row">
  <div class="large-3 columns">
    <button>New Game</button>
  </div>
  <div class="large-3 columns">
    <button>New Game</button>
  </div>
  <div class="large-3 columns">
    <button>New Game</button>
  </div>
  <div class="large-3 columns">
    <button>New Game</button>
  </div>

</div>